@import "tailwindcss";

@theme {
  --color-slate-850: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
  
  --color-gold-400: #facc15;
  --color-gold-500: #eab308;
  --color-gold-600: #ca8a04;

  --color-magic-fire: #ef4444;
  --color-magic-water: #3b82f6;
  --color-magic-nature: #22c55e;
  --color-magic-light: #eab308;
  --color-magic-dark: #a855f7;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-cinzel);
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 2, 6, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}
